In [5]:
import duckdb
import os
import numpy as np
import gensim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
import pickle


import duckdb
import os
import numpy as np
import gensim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
import pickle

In [6]:
output_movies_folder="C:/projects/fiap-proj-int-03/app/get_movies/output_files/*.json"

conn = duckdb.connect(config = {'threads': 5})

conn.execute(f"CREATE TABLE movies AS (SELECT * FROM read_json('{output_movies_folder}'));")

#df = conn.execute(f"SELECT genre_ids, title, vote_average FROM read_json('{output_movies_folder}/*.json')").fetchdf()

df = conn.execute(f"""
    SELECT 
        --*
        --id
        --, genre_ids
        --, title
        --, vote_average
        --, overview
        count(DISTINCT id) as ct_d,
        count(id) as ct
    FROM movies
    WHERE overview is not null 
      AND trim(overview) <> ''
                  
""").fetchdf()

df.head(20)
#print(f"number of lines: {df.count()}")

   ct_d    ct
0  6565  6616